%li
  = link_to t('magmazine.top_menu.community'), page_path(page: :community)
%li.spacer
  |
%li
  = link_to t('magmazine.top_menu.sponsors'), page_path(page: :sponsor)
%li.spacer
  |
%li
  = link_to t('magmazine.top_menu.keynotes'), page_path(page: :keynote)
%li.spacer
  |
%li
  = link_to t('magmazine.top_menu.gallery'), page_path(page: :gallery)
%li.spacer
  |
%li
  = link_to t('magmazine.top_menu.innumbers'), page_path(page: :infography)
%li.spacer
  |
%li
  = link_to t('magmazine.top_menu.editorial'), page_path(page: :editorial)
%li.spacer
  |
%li
  = link_to t('magmazine.top_menu.home'), root_path
