%li
  = link_to "Community", page_path(page: :community)
%li.spacer
  |
%li
  = link_to "Sponsors", page_path(page: :sponsor)
%li.spacer
  |
%li
  = link_to "Keynotes", page_path(page: :keynote)
%li.spacer
  |
%li
  = link_to "Gallery", page_path(page: :gallery)
%li.spacer
  |
%li
  = link_to "Magma in Numbers", page_path(page: :infography)
%li.spacer
  |
%li
  = link_to "Editorial", page_path(page: :editorial)
%li.spacer
  |
%li
  = link_to "Cover", root_path
