%li
  = link_to "Community", "/en/community" 
%li.spacer
  |
%li
  = link_to "Sponsors", "/en/sponsor"
%li.spacer
  |
%li
  = link_to "Keynotes", "/en/keynote"
%li.spacer
  |
%li
  = link_to "Gallery", "/en/gallery"
%li.spacer
  |
%li
  = link_to "Magma in Numbers", "/en/infography"
%li.spacer
  |
%li
  = link_to "Editorial", "/en/editorial"
%li.spacer
  |
%li
  = link_to "Cover", "/"
