%li
  = link_to t('menu.community'), "/en/community"
%li.spacer
  |
%li
  = link_to t('menu.sponsors'), "/en/sponsor"
%li.spacer
  |
%li
  = link_to t('menu.keynotes'), "/en/keynote"
%li.spacer
  |
%li
  = link_to t('menu.gallery'), "/en/gallery"
%li.spacer
  |
%li
  = link_to t('menu.innumbers'), "/en/infography"
%li.spacer
  |
%li
  = link_to t('menu.editorial'), "/en/editorial"
%li.spacer
  |
%li
  = link_to t('menu.home'), "/"
