%li
  = link_to "Comunidad", "/es/comunidad" 
%li.spacer
  |
%li
  = link_to "Patrocinadores", "/es/patrocinadores"
%li.spacer
  |
%li
  = link_to "Conferencias Magistrales", "/es/conferencias"
%li.spacer
  |
%li
  = link_to "Galería", "/es/galeria"
%li.spacer
  |
%li
  = link_to "Magma en Números", "/es/infografia"
%li.spacer
  |
%li
  = link_to "Editorial", "/es/editorial"
%li.spacer
  |
%li
  = link_to "Portada", "/"