%section.span-24.mainContent
  %header.span-24
    .monthlyNo.span-2.prepend-2
      %span= t('magmazine.date.actual_date')
    %section.contentBy.span-24.last
      %p
  %aside.articleTitle.span-5.prepend-1.append-1
    %h1.title1= t ('magmazine.communities.title1')
    %span.title= t ('magmazine.communities.title')
    %address.author
      %span= t ('magmazine.communities.author')
  %section.span-15.banner-on
    = image_tag 'comunidades.png'
  %section.textBox.twoColumn.span-15.prepend-7= t('magmazine.communities.content_html')
  = render 'partials/seo'
