%section.span-24.mainContent
  %header.span-24
    .monthlyNo.span-2.prepend-2
      %span= t('magmazine.date.actual_date_html')
    %section.contentBy.span-24.last
      %p= t ('magmazine.editorial.contributors')
  %aside.articleTitle.span-5.prepend-1.append-1
    %h1.title1= t ('magmazine.editorial.title1')
    %span.title= t ('magmazine.editorial.title')
    %address.author
      %span= t ('magmazine.editorial.author')
  %section.span-15.rey-banner
    = image_tag 'editorial.png'
  %section.edit-title.span-15
    %h2= t ('magmazine.editorial.title2')
  %section.textBox.twoColumn.span-15.prepend-7= t ('magmazine.editorial.content_html')

= render 'partials/seo'
