%section.span-24.mainContent
  %header.span-24
    .monthlyNo.span-2.prepend-2
      %span june2012
    %section.contentBy.span-24.last
      %p
  %aside.articleTitle.span-5.prepend-1.append-1
    %h1.title1= t('magmazine.gallery.title1')
    %span.title= t('magmazine.gallery.title')
    %address.author
      %span= t('magmazine.gallery.author')
  = render 'gallery'
= render 'partials/fancy-box'
= render 'partials/seo'
