%section.span-24.mainContent
  %header.span-24
    .monthlyNo.span-2.prepend-2
      %span june 2012
    %section.contentBy.span-24.last
      %p
  %aside.articleTitle.span-5.prepend-1.append-1
    %h1.title1 Sponsors
    %span.title Our Sponsors
    %address.author
      %span by Esteban Cortés
    %ul
      %li
        %a.spon#rubycentral.active
          %span Ruby Central
          = image_tag 'ruby_central.png'
      %li
        %a.spon#crowdint
          %span Crowd Interactive
          = image_tag 'crowd.png'
      %li
        %a.spon#github
          %span Github
          = image_tag 'github.png'
      %li
        %a.spon#heroku
          %span Heroku
          = image_tag 'heroku.png'
      %li
        %a.spon#engineyard
          %span Engine Yard
          = image_tag 'engineyard.png'
      %li
        %a.spon#softwareallies
          %span Software Allies
          = image_tag 'Software_allies.png'
      %li
        %a.spon#nearsoft
          %span Nearsoft
          = image_tag 'nearsoft.png'
      %li
        %a.spon#aietic
          %span Aietic
          = image_tag 'aietic.png'
  .center.main-section
    .sponsoring
      %span.rubycentral.active
        = render partial: 'partials/rubycentral'
      %span.crowdint
        = render partial: 'partials/crowdint'
      %span.github
        = render partial: 'partials/github'
      %span.heroku
        = render partial: 'partials/heroku'
      %span.engineyard
        = render partial: 'partials/engineyard'
      %span.softwareallies
        = render partial: 'partials/softwareallies'
      %span.nearsoft
        = render partial: 'partials/nearsoft'
      %span.aietic
        = render partial: 'partials/aietic'

