%section.span-24.mainContent
  %header.span-24
    .monthlyNo.span-2.prepend-2
      %span junio 2012
    %section.contentBy.span-24.last
      %p
  %aside.articleTitle.span-5.prepend-1.append-1
    %h1.title1 Patrocinadores
    %span.title Nuestros Patrocinadores
    %address.author
      %span by Esteban Cortés
    %ul
      %li
        %a{:href => "/es/rubycentral"}
          %span Ruby Central
          = image_tag 'ruby_central.png'
      %li
        %a{:href => "/es/crowdint"}
          %span Crowd Interactive
          = image_tag 'crowd.png'
      %li
        %a{:href => "/es/github"}
          %span Github
          = image_tag 'github.png'
      %li
        %a{:href => "/es/heroku"}
          %span Heroku
          = image_tag 'heroku.png'
      %li
        %a{:href => "/es/ey"}
          %span Engine Yard
          = image_tag 'engineyard.png'
      %li
        %a{:href => "/es/allies"}
          %span Software Allies
          = image_tag 'Software_allies.png'
      %li
        %a{:href => "/es/nearsoft"}
          %span Nearsoft
          = image_tag 'nearsoft.png'
      %li
        %a{:href => "/es/aietic"}
          %span Aietic
          = image_tag 'aietic.png'

  .center.main-section
    .main-header
      = image_tag 'Image_crowd.png'
    .content
      .inner-section
        .half
          %p
            = image_tag 'sponsors/crowd.svg'
            Somos una consultoría líder de Ruby on Rails establecida en México. Actualmente hacemos negocios con Startups de los Estados Unidos. Nos especializamos en crear y crecer aplicaciones de Rails, aumentando tu equipo de TI en sitio o remoto. Elegimos nuestros proyectos cuidadosamente, porque solo trabajamos con compañias en que creemos.

          //= link_to (http://www.crowdint.com), target: '_blank'
        .clear
