%section.span-24.mainContent
  %header.span-24
    .monthlyNo.span-2.prepend-2
      %span june 2012
    %section.contentBy.span-24.last
      %p Editorial content by: David Padilla
  %aside.articleTitle.span-5.prepend-1.append-1.keynote
    %h1.title1 Keynotes
    %span.title Article
    %address.author
      %span by Esteban Cortés
    .speaker#scott.active
      = image_tag 'scott_chacon.png'
    .speaker#aaron
      = image_tag 'aaron_patterson.png'
    .speaker#nic
      = image_tag 'dr_nic.png'
  %section.textBox.keynote
    .summary
      = image_tag 'schacon.png', class: 'scott active'
      %p.scott.twoColumn.span-15.active
        = render partial: 'partials/en/scott_summary_en'
      = image_tag 'tenderlove.png', class: 'aaron'
      %p.aaron.twoColumn.span-15
        = render partial: 'partials/en/aaron_summary_en'
      = image_tag 'drnic.png', class: 'nic'
      %p.nic.twoColumn.span-15
        = render partial: 'partials/en/nic_summary_en'
= render '/partials/en/seo'
