%section#sponsors
  .center.main-section
    .main-header
      %hr3 Sponsors
      = image_tag 'top_line.png'
    .content
      .inner-section
        .half.left
          = image_tag "sponsors/crowd.svg"
        .half
          %h3 Crowd Interactive
          %p
            We are a leading Ruby and Rails consultancy firm based in Mexico. Currently doing business with Startups in the United States. We specialize in building and growing Rails applications, by increasing your IT crew onsite or offsite. We pick our projects carefully, as we only work with companies we believe in.

          //= link_to (http://www.crowdint.com), target: '_blank'
        .clear
    .content
      .inner-section
        .half.left
          = image_tag "sponsors/rubycentral.svg"
        .half
          %h3 Ruby Central
          %p
            Ruby Central is an organization dedicated to Ruby support and advocacy. They run the annual RubyConf and RailsConf conferences in addition to managing rubygems.org.

          //= link_to (http://www.rubycentral.org), target: '_blank'
        .clear
    .content
      .inner-section
        .half.left
          = image_tag "sponsors/heroku.svg"
        .half
          %h3 Heroku
          %p
            Heroku (pronounced her-OH-koo) is a cloud application platform – a new way of building and deploying web apps. Our service lets app developers spend 100% of their time on their application code, not managing servers, deployment, ongoing operations, or scaling.Learn more about our architecture, pricing, and add-ons ecosystem. Heroku was founded in 2007 by Orion Henry, James Lindenbaum, and Adam Wiggins.

          //= link_to (http://www.heroku.com), target: '_blank'
        .clear
    .content
      .inner-section
        .half.left
          = image_tag "sponsors/github.svg"
        .half
          %h3 Github
          %p
            GitHub is the best place to share code with friends, co-workers, classmates, and complete strangers. Over a million people use GitHub to build amazing things together.With the collaborative features of GitHub.com, our desktop and mobile apps, and GitHub Enterprise, it has never been easier for individuals and teams to write better code, faster. Originally founded by Tom Preston-Werner, Chris Wanstrath, and PJ Hyett to simplify sharing code, GitHub has grown into the largest code host in the world.

          //= link_to (http://www.github.com), target: '_blank'
        .clear
    .content
      .inner-section
        .half.left
          = image_tag "sponsors/allies.svg"
        .half
          %h3 Software Allies
          %p
            Software Allies is a cloud consultant and solution provider based in the US with offices in Texas and Mexico. Our diverse team of experts offers services for application development, quality assurance, implementation, integration, design and training. By creating solutions on the best cloud platforms available, you can rest easy knowing your cloud applications are on robust systems. Using an agile methodology with industry-leading technologies and platforms, we work closely with our clients to produce great solutions together!

          //= link_to (http://www.softwareallies.com), target: '_blank'
        .clear
    .content
      .inner-section
        .half.left
          = image_tag "sponsors/ey.svg"
        .half
          %h3 Engine Yard
          %p
            Engine Yard is the leading Platform as a Service (PaaS), empowering software application innovation more rapidly, easily and cost effectively. With deep technical expertise, powerful infrastructure orchestration, strong support of the open source community, and world-class service, Engine Yard provides a complete commercial grade solution that enables developers to focus on creating great applications, instead of managing their platform. Thousands of customers in 58 countries, from explosive-growth Web startups to Fortune 500 enterprises, rely on Engine Yard to leverage the cloud for competitive advantage. Headquartered in San Francisco, Calif., Engine Yard is backed by Benchmark Capital, New Enterprise Associates and Amazon.com.

          //= link_to (http://www.engineyard.com), target: '_blank'
        .clear
    .content
      .inner-section
        .half.left
          = image_tag "sponsors/nearsoft.svg"
        .half
          %h3 Nearsoft
          %p
            Imagine a place where people let their creativity and imagination run rampant in every aspect of their worklife. Nearsoft is an innovation partner for world-class software product companies. We work with bleeding edge technologies in a startup-like and creative environment that let you contribute to our vision and make an impact on the world. We love to engage with others who feel about software development like we do, and that is why we are here. Together we thrive, develop and deliver only the best quality for our clients.

          //= link_to (http://www.nearsoft.com), target: '_blank'
        .clear
