!!!
%html
  %head
    = stylesheet_link_tag 'admin/admin'
    = javascript_include_tag 'admin/admin'
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %ul.nav
            %li.active
              = link_to "Translation", filtered_translations_path(:magmazine), class: 'translation'
            %li
              = link_to "Editorial", filtered_translations_path(:editorial), class: 'editorial'
            %li
              = link_to "Gallery", filtered_translations_path(:gallery), class: 'gallery'
            %li
              = link_to "Keynotes", filtered_translations_path(:keynotes), class: 'keynote'
            %li
              = link_to "Sponsors", filtered_translations_path(:sponsors), class: 'sponsor'
            %li
              = link_to "Communities", filtered_translations_path(:communit), class: 'community'
            %li
              %a
                |
            %li
              = link_to('Logout', destroy_user_session_path, :method => :delete)
    .container
      = flash[:notice]
      = flash[:error]
      = yield
