!!!
%html
  %head
    %title=@cms_site.label
    %meta{:content => "ruby, rails, ruby on rails, mexico, colima, manzanillo, conferencia, magmarails, crowdint, crowd, interactive, development, web, frameworks", :name => "keywords"}/
    %meta{:content => "A Ruby and Ruby on Rails conference in Mexico", :name => "description"}/
    = stylesheet_link_tag    "application"
    = stylesheet_link_tag cms_css_path(@cms_site.id, @cms_layout.identifier)
    = javascript_include_tag "application"
    = javascript_include_tag cms_js_path(@cms_site.id, @cms_layout.identifier)
    = csrf_meta_tags
  %body
    %section.container
      = yield

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22515126-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
