!!!
%html
  = render "/partials/shared/head"
  %body
    %section.container
      %header#topHead.span-24
        .magmaLogo
          %a{:href => ""}
            %img{:alt => "MAGMAZINE", :height => "27", :src => "/images/logo-magma.png", :width => "220"}/
        %nav.span-17.prepend-9.last
          = render "/partials/#{@language}/nov-nav" if @nav
      = yield
  = render "/partials/shared/footer"
