!!!
%html
  = render "/partials/shared/head"
  %body
    %section.container
      %header#topHead.span-24
        .magmaLogo
          %a{href: "http://www.magmarails.com", target:"_blank"}
            %img{:alt => "MAGMAZINE", :src => "/images/logo-magma.png"}/
        %nav.span-20.prepend-9.last
          = render "/partials/#{@language}/nov-nav" if @nav
      = yield
  = render "/partials/shared/footer"
