!!!
%html
  = javascript_include_tag :application
  = render "partials/shared/head"
  %body
    %section.container.black-header
    %section.container
      = render "partials/shared/header"
      = yield
  = render "partials/shared/footer"

